:host {
  display: block;
  margin-top: 50px;
}

table {
  width: 100%;
  border: 1px solid lightgray;
}

.actions {
  width: 40px;
  padding-right: 0;
}

.no-data {
  font-size: 24px;
  text-align: center;
  margin: 20px;
}
